    /* 
        Created on : Aug 29, 2015, 10:10:57 AM
        Author     : richardclay
    */
    body{
        padding: 0;
        background-color: #d0d0d0;
    }

    a{
        color: #4d7692;
        text-decoration: none;
        font-family: 'Slabo 27px', serif;
    }

    p{
        color: #909394;
        line-height: 1.5;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    a:hover{
        color: #ff8a4a;
    }

    a,
    p{

        font-size: 27px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .column{
        display: inline-block;
        margin-left: 0;
        margin-right: 2%;
        margin-bottom: 2%;
        width: 30%;
        vertical-align: top;
        border: 1px solid #464B59;
    }

    .container{
        width: 80%;
        min-height: 800px;
        margin-left: 10%;
        padding-right: 5%;
        padding-left: 6%;
        padding-top: 5%;
        box-shadow: 5px;

        background-color: #fff;
        padding-bottom: 15%;
        -webkit-box-shadow: 10px 10px 64px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 64px -14px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 64px -14px rgba(0,0,0,0.75);
    }
    div.column > .row{
        background: #464B59;
        color: white;
    }

    div#header{
        border-bottom: 2px solid #464B59; 
        text-align: right;
        width: 105%;
        margin-left: -5%;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    div#header h1{
        background: #909394;
        color: #464B59;
        font-size: 2em;
        margin-top: 0;
        padding-right: 2%;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    div#side-bar-left{
        position: fixed;
        top: 6%;
        width: 9%;
    }

    div#side-bar-left a{
        font-size: 1em;
        line-height: 2;
    }
    
    div#side-bar-left ul{
        /*display: none;*/
        margin-top: 0;
    }

    div#side-bar-left div{
        background-color: #464B59;
        color: white;
        font-size: 1.2em;
        padding: 5%;
        text-align: center;
    }
    
    div.title h3{
        border-bottom: 2px solid #464B59;
        color: #464B59;
        display: inline-block;
        font-size: 1.65em;
        padding-bottom: 2px;
    }

    div.column ul{
        /*display: none;*/
    }

    div.column li:nth-child(even){
        background-color: #D0D0D0;
    }
    div.column li:nth-child(even) p{
        color: #464B59;
    }

    div#icon-citation,
    div#icon-citation a{
        font-size: 8px;
    }

    h1,
    h2,
    h3,
    h4{
        font-family: 'Slabo 27px', serif;
    }
    h2{
        border-bottom: solid 2px #909394;
        font-size: 2em;
        color: #909394;
        margin-bottom: 1%;
        width: 95.5%;
    }

    h4{
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        margin: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    img[alt="compass"]{
        margin-right: 5px;
        position: relative;
        top: 5px;
        width: 9%;
    }

    img[alt="hamburger"]{
        width: 40px;
        position: fixed;
        z-index: 2;
    }

    ul{
        list-style: none;
        padding-left: 0%;
        margin-bottom: 0;
    }

    li{
        padding: 3%;
    }


    p.col-description{
        display: none;
        width: 95%;
        padding-left: 3%;
    }
    
    p.detail{
        max-width: 60%;
    }
    .row{
        padding: 2%;
    }

    div.super-row{
    }

    .bot-pad{
        padding-bottom: 15%;
    }

    .super-row:nth-last-of-type(1){
        border-bottom: none;
    }